<div class="header">
<h4 class="title">Student Attendance / Comments</h4>
<p class="pull-right">
    <br>
</p>
  <div class="custom-list" id="content1" style="padding: 10px;">
    <div class="row">
        <table class="table table-hover">
            <thead class="text-warning">
                <tr>
                    <th><i class="ti-calendar" style="color: tomato;"></i> Date</th>
                    <th><i class="ti-check-box" style="color: tomato;"></i> Status</th>
                    <th><i class="ti-book" style="color: tomato;"></i> Subject</th>
                    <th><i class="ti-help" style="color: tomato;"></i> Topice</th>
                    <th><i class="ti-time" style="color: tomato;"></i> Time</th>
                    <th><i class="ti-comment-alt" style="color: tomato;"></i> Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>29-09-2018</td>
                    <td>Present</td>
                    <td>Mathematics</td>
                    <td>Factorial</td>
                    <td>09:30 AM</td>
                    <td>Pay a lot of attention today, Good!</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
