<div class="fade"></div>
<div class="preload">
  <img src='assets/img/loading.gif'>
</div>
<div class="col-md-12 studentacademics">
  <div class="card">
    <div class="form-group">
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <label for="class">Select Class : </label>
          <select class="cs-select cs-skin-border btn btn-sm" id="class" [(ngModel)]="selectClass">
            <option *ngFor="let szclass of szclasses" value={{szclass.sz_class}}
                    [class.selected]="szclass.sz_class === selectClass">
              {{szclass.sz_class}}
            </option>
          </select>
          <label for="term">Select Term : </label>
          <select class="cs-select cs-skin-border btn btn-sm" id="term" [(ngModel)]="selectedTerm">
            <option value="" selected="selected"></option>
            <option value="1st">1st</option>
            <option value="2nd">2nd</option>
            <option value="3rd">3rd</option>
          </select>
          <label for="examtype">Exam Type : </label>
          <select class="cs-select cs-skin-border btn btn-sm" id="examtype" [(ngModel)]="selectedExamType">>
            <option *ngFor="let examtype of examtypes" value={{examtype.sz_examtype}}
                    [class.selected]="examtype.sz_examtype === selectedExamType">
              {{examtype.sz_examtype}}
            </option>
          </select>
          <!-- <button type="button" class="btn btn-success btn-sm" (click)="viewGradeInformation()">
            <i class="material-icons">search</i>View
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row studentacademics">
  <div class="col-md-12">
    <div class="card card-nav-tabs">
      <div class="card-header" data-background-color="orange">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="active" id="ward_grade">
                <a href="#stu_grades" data-toggle="tab">
                  <i class="material-icons">grade</i>
                  Ward's Grades
                  <div class="ripple-container"></div>
                </a>
              </li>
              <!-- <li class="" id="preschool_reporting">
                <a href="#dailyreport" data-toggle="tab">
                  <i class="material-icons">report</i>
                  Daily Report
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li class="" id="teachercomments">
                <a href="#teacher-comments" data-toggle="tab">
                    <i class="material-icons">comment</i>
                    Teachers Comment
                    <div class="ripple-container"></div>
                </a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="card-content">
        <div class="tab-content">
          <div class="tab-pane active" id="stu_grades">
            <div class="card-content table-responsive">
              <table class="table table-hover" *ngFor="let grades of gradeData" style="margin-bottom: 20px;">
                <thead class="text-warning">
                <tr >
                  <th>{{ grades[0].szsubjectidname }}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let grade of grades">
                  <td>{{ grade.szsubsubject }}</td>
                  <td style="text-align: right;">{{ grade.szmarks }}:{{ grade.sz_comments }}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="card card-nav-tabs" style="margin-top: 55px;">
              <div class="card-header" data-background-color="orange">
                  <div class="nav-tabs-navigation">
                      <div class="nav-tabs-wrapper">
                          <ul class="nav nav-tabs" data-tabs="tabs">
                              <li class="active">
                                  <a data-toggle="tab">
                                          <i class="material-icons">language</i> Term General Remarks
                                      <div class="ripple-container"></div>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <table class="table table-hover" style="margin-top: 20px;">
                <tbody>
                    <tr *ngFor="let remark of remarks">
                        <td style="min-width: 150px;">{{ remark.szremarks }}</td>
                        <td style="text-align: justify;">{{ remark.szcomments }}</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- <div class="tab-pane" id="dailyreport">
            <div class="card-content table-responsive">
              <div class="row">
                <div class="col-md-2 pull-right" id="report-calender">
                  <my-date-picker [options]="myDatePickerOptions" [selDate]="selDate" (dateChanged)="onDateChanged($event)"></my-date-picker>
                </div>
              </div>
              <div class="row"></div>
              <div class="row table-responsive">
                <div class="col-md-6">
                  <table class="table table-hover">
                    <thead class="text-warning">
                    <tr>
                      <th>Title</th>
                      <th>Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let report of dailyreportA">
                      <td>{{ report.title }}</td>
                      <td>{{ report.comment}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-6">
                  <table class="table table-hover">
                    <thead class="text-warning">
                    <tr>
                      <th>Title</th>
                      <th>Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let report of dailyreportB">
                      <td>{{ report.title }}</td>
                      <td>{{ report.comment}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="" style="padding: 5px 20px; color: #000;">
                  <label>Teacher Comment:</label>
                  <span style="font-size: 14px">{{ teacher_comment }}</span>
                </div>
                <div style="padding: 5px 20px; color: #000;">
                  <label>Parent Comment:</label>
                  <span style="font-size: 14px">{{ parent_comment }}</span>
                </div>
              </div>
              <div class="row"></div>
              <div class="row">
                <div class="col-md-10 col-md-offset-1 col-md-onset-1">
                  <form class="" [formGroup]="GuardianForm" (ngSubmit)="OnSubmitParentComment(GuardianForm.value)">
                    <div class="form-group">
                        <textarea class="form-control" id="guradian-comment" title="Guradian Comment"
                          placeholder="Please enter your comments/remarks" formControlName="comment"></textarea>
                        <button class="btn btn-primary btn-md pull-right" id="btn" type="submit"
                                [disabled]="!GuardianForm.valid">Accept/Submit
                        </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="teacher-comments">
            <div class="card-content table-responsive" id="non-preschool">
                <table class="table table-hover">
                    <thead class="text-warning">
                    <tr>
                        <th style="min-width: 150px;">Teacher</th>
                        <th style="min-width: 200px;">Subject</th>
                        <th>Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let comment of teacherscomment" style ="font-size: 12px;">
                        <td>{{ comment.teachername }}</td>
                        <td>{{ comment.subjectname }}</td>
                        <td style="text-align: justify;">{{ comment.szcomments }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
