<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-nav-tabs" >
                        <div class="card-header" data-background-color="blue">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="active">
                                            <a href="#academic" data-toggle="tab">
                                                <i class="material-icons">class</i>
                                                Academics Information
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="#billpayments" data-toggle="tab">
                                                <i class="material-icons">credit_card</i>
                                                BILLING / PAYMENTS
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="#wardschinfo" data-toggle="tab">
                                                <i class="material-icons">school</i>
                                                WARD SCHOOL INFO
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="tab-content">
                                <div class="tab-pane active" id="academic">
                                    <app-preschool-academics></app-preschool-academics>
                                </div>
                                <div class="tab-pane" id="billpayments">
                                    <app-billpayments></app-billpayments>
                                </div>
                                <div class="tab-pane" id="wardschinfo">
                                    <app-academicsinfo></app-academicsinfo>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


