.cs-select{
    background-color: #fefefe !important;
    color: #000 !important;
}
.cs-skin-border{
    border: 1px solid #4caf50 !important;
}
label{
    padding-left: 10px;
}
.btn-success{
    color: #4caf50;
    background-color: white;
    border: 1px solid #4caf50;
    padding-left: 20px;
}
.btn-success:hover{
    background-color: #4caf50;
    color: white;
}
.charts{
    padding: 10px;
    margin-top: 40px;
}

button{
    margin-left: 10px;
}

.preload {
    left: 44%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    display: none;
    position: absolute;
    margin-top: -15px;
    width: 100px;
    opacity: .50;
}

.fade {
    display: none;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(229, 255, 216, 0.4) !important;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .90;
    filter: alpha(opacity=80);
}

#report-calender{
    width: 130px;
    float: right;
}

::ng-deep.selector{
    right: 0;
}

.title h5{
    padding: 25px;
    background-color: #fc930a;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 14px;
}