<div class="header">
<h4 class="title">Assignments</h4>
    <div class="custom-list" id="content1" style="padding: 10px;">
        <div class="row">
            <div class="col-md-7">
                <div class="title">
                    <i class="ti-blackboard"></i> 201604-Ghanaian Language(GA)
                </div>
                <div class="actions">
                    <span class="meta">End Date: 31-10-2016 11:39</span>
                    <span class="links">
                        <a href=""><i class="ti-download"></i> Question Paper Download</a>
                    </span>
                    <span class="links">
                        <a href=""><i class="ti-eye"></i> View Submission</a>
                    </span>
                </div>
            </div>
            <div class="col-md-3 pull-right">
                <div class="title">
                    <i class="ti-check-box"></i> Mark Scored: 10
                </div>
                <div class="action">
                    <span class="calendar"><i class="ti-calendar" style="color: tomato;"></i> 29-09-2016</span>
                </div>
            </div>
        </div>
        <div>-------------------------------------------------------------------------------</div>
        <div class="row">
            <div class="col-md-7">
                <div class="title">
                    <i class="ti-blackboard"></i> 201604-English Language
                </div>
                <div class="actions">
                    <span class="meta">End Date: 31-10-2016 11:39</span>
                    <span class="links">
                            <a href=""><i class="ti-download"></i> Question Paper Download</a>
                        </span>
                    <span class="links">
                            <a href=""><i class="ti-eye"></i> View Submission</a>
                        </span>
                </div>
            </div>
            <div class="col-md-3 pull-right">
                <div class="title">
                    <i class="ti-check-box"></i> Mark Scored: 5
                </div>
                <div class="action">
                    <span class="calendar"><i class="ti-calendar" style="color: tomato;"></i> 29-09-2016</span>
                </div>
            </div>
        </div>
        <div>-------------------------------------------------------------------------------</div>
        <div class="row">
            <div class="col-md-7">
                <div class="title">
                    <i class="ti-blackboard"></i> 201604-Mathematics
                </div>
                <div class="actions">
                    <span class="meta">End Date: 31-10-2016 11:39</span>
                    <span class="links">
                            <a href=""><i class="ti-download"></i> Question Paper Download</a>
                        </span>
                </div>
            </div>
            <div class="col-md-5"><!--Can parent sumbit assignment for ward???-->
                <div class="btn btn-success btn-sm" title="Submit Ward Assignment">
                    <label for="file" class="label"> <span class="ti-upload"></span> Select File</label>
                    <input type="file" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf" name="input-file-preview" id="file" class="inputfile" (change)="onSelectFile($event.target.value)">
                </div>
            </div>
        </div>
        <div>-------------------------------------------------------------------------------</div>
    </div>
</div>