 <div class="main-content" >
            <div class="container-fluid">
                <div class="row">
                <div class="card col-sm-12">
                    <div class="card card-nav-tabs" >
                            <div class="card-header" data-background-color="purple">
                                <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper">
                                        <span class="nav-tabs-title"></span>
                                        <ul class="nav nav-tabs" data-tabs="tabs">
                                            <li class="active">
                                                <a href="#add_student" data-toggle="tab">
                                                    <i class="material-icons"></i>
                                                    Add Student
                                                <div class="ripple-container"></div></a>
                                            </li>
                                            <li class="">
                                                <a href="#bills" data-toggle="tab">
                                                    <i class="material-icons"></i>
                                                    View Student Bills and Payments
                                                <div class="ripple-container"></div></a>
                                            </li>
                                            <li class="">
                                                <a href="#academics" data-toggle="tab">
                                                    <i class="material-icons"></i>
                                                    View Student Academic Records
                                                <div class="ripple-container"></div></a>
                                            </li>

                                            <li class="">
                                                    <a href="#notifications" data-toggle="tab">
                                                        <i class="material-icons"></i>
                                                        View Student Notifications
                                                    <div class="ripple-container"></div></a>
                                                </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
            <div class="tab-content" >
                <div class="tab-pane active" id="add_student" >
                    <br>
                    <div class="col-sm-12">
                        <p>
                            Welcome to iKolilu Parents Portal.
                        </p>
                        <p>
                            <strong>1.</strong> To add a student, Click the <strong>DASHBOARD</strong> on the left pane.
                            <br>
                            <br>
                            <strong>2.</strong> Then Click on the <strong> ADD NEW WARD </strong> button.
                            <br>
                        </p>
                        <p>
                            <br>
                            <img src="assets/img/addward.jpg" class="img-responsive" style="width:100%;height:auto;border:1px solid #cacaca;">
                        </p>
                        <p>
                            <br>
                            <strong>3.</strong> On the dialog, Enter your ward's Student ID number (Can be found on the student's bill), and choose your ward's school from the dropdown.
                            <br>
                        </p>
                        <p>
                            <br>
                            Then Click <strong>ADD STUDENT</strong> at the bottom of dialog.
                        </p>
                        <img src="assets/img/addwarddialog.jpg" class="img-responsive" style="width:100%;height:auto;border:1px solid #cacaca;">
                        <br>
                        <p>
                            Your ward should now appear at the top of Add My Ward Button. Else please contact your ward's school with your credentials.
                        </p>
                        <br>
                    </div>
                </div>
                <div class="tab-pane" id="bills">
                   <br>
                    <div class="col-sm-12">
                        <p>
                            To view Bills and Payments for a ward,
                        </p>
                        <p>
                            <strong>1.</strong> Click the <strong>DASHBOARD</strong> on the left.
                            <br>
                        </p>
                        <p>
                            <strong>2.</strong> Then Click on the particular ward's <strong> ROW </strong>.
                            <br>
                            <br>
                            <img src="assets/img/viewbill.jpg" class="img-responsive" style="width:100%;height:auto; border:1px solid #cacaca;">
                            <br>
                        </p>
                        <p>
                            <strong>3.</strong> On the next screen, Kindly select <strong>Bills / Payments</strong> on the left panel.
                        </p>
                        <img src="assets/img/viewbill2.jpg" class="img-responsive" style="width:100%;height:auto; border:1px solid #cacaca;">
                        <br>
                        <p>
                            <strong>4.</strong> Then select the <strong>Class</strong> and <strong>Term </strong> for which you want to see the bills, then click view.
                        </p>
                        <img src="assets/img/viewbill4.jpg" class="img-responsive" style="width:100%;height:auto; border:1px solid #cacaca;">
                        <br>
                        <p>
                            <strong>Total Bills, Payments and Balances</strong> are highlighted right under the class and term buttons.
                        </p>

                        <p>
                            <strong>5.</strong> Under that are two tabs for both Bills and Payments. Click on Payments for Payment records.
                            <br>For Bills Tab, the Student's bill items are displayed by Description and Amount to be paid.
                        </p>
                        <p>
                            Under Payments tab, records of all payments made for that class and term are displayed by Receipt number, Date and Amount paid.
                            <br>
                        </p>
                    </div>

                </div>
                <div class="tab-pane" id="academics">
                    <br>
                    <div class="col-sm-12">
                        <p>
                            <strong>1.</strong> Click the <strong>DASHBORAD</strong> on the left.
                            <br>
                        </p>
                        <p>
                            <strong>2.</strong> Then Click on the particular ward's <strong> ROW </strong>.
                            <br>
                            <br>
                            <img src="assets/img/viewbill.jpg" class="img-responsive" style="width:100%;height:auto; border:1px solid #cacaca;">
                            <br>
                        </p>
                        <p>
                            <strong>3.</strong> On the next screen, Kindly select <strong>Academic Records</strong> on the left panel.
                        </p>
                        <p>
                            <strong>4.</strong> Then choose the <strong>Class</strong> and <strong>Term </strong> for which you want to see the academic records.
                        </p>

                        <br>
                        <img src="assets/img/viewwardsacc2.jpg" class="img-responsive" style="width:100%;height:auto; border:1px solid #cacaca;">
                        <br>
                        <p>
                            After Selecting the class and term, Grades are displayed by <strong>Subject, Class Score, Exam Score, Total Score and Grade</strong>
                        </p>

                        <p>
                            Under the Grades for that term is a graph of perfomance analysis for all terms in the particular year/class chosen above.
                            <br>
                        </p>
                    </div>
                </div>
                <div class="tab-pane" id="notifications">
                    <br>
                    <div class="col-sm-12">
                    <p>
                        To view Notices and Newsletters for a ward,
                    </p>
                        <p>
                            <strong>1.</strong> Click the <strong>DASHBOARD</strong> on the left.
                            <br>
                        </p>
                        <p>
                            <strong>2 .</strong>All Notices published by the School for your <strong>ALL</strong> ward are listed here by date. Please tap on "Details" to view details.
                            <br>
                            <br>
                            <img src="assets/img/notices.jpg" class="img-responsive" style="width:100%;height:auto; border:1px solid #cacaca;">
                            <br>
                        </p>
                    </div>


                </div>
            </div>
          </div>
                </div>
            </div>
        </div>
    </div>




