<!-- <div class="col-md-12">
    <div class="card"> -->
        <div class="header">
            <h4 class="title">Student Class Lesson Plans</h4>
            <p class="pull-right">
                <!-- <button type="button" class="btn btn-success btn-fill btn-sm" data-toggle="modal" data-target="#myUser">Add New User</button> -->
                <br>
            </p><div class="custom-list" id="content1" style="padding: 10px;">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="title">
                                <i class="ti-blackboard"></i> Subject : Mathemetics
                            </div>
                            <div class="actions">
                                <span class="meta">Units: 12</span>
                                <span class="links">
                                    <a href=""><i class="ti-download"></i> View Units</a>
                                </span>
                                <span class="links">
                                    <a href=""><i class="ti-eye"></i> View Time Table</a>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3 pull-right">
                            <div class="title">
                                <span>Date</span>
                            </div>
                            <div class="action">
                                <span class="calendar"><i class="ti-calendar" style="color: tomato;"></i> 29-09-2018</span>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    <!-- </div>
    </div> -->